streamlit
langchain
langchain-community
langchain-core
langchain-groq
langgraph
chromadb
pypdf
pymupdf
python-dotenv
pytesseract
pillow
plotly
pandas
streamlit-mic-recorder
groq
langchain-groq
